<li class="nav-item menu-items">
    <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
        <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
        </span>
        <span class="menu-title">Documentation</span>
    </a>
</li>