<li class="nav-item menu-items">
    <a class="nav-link" href="/">
        <span class="menu-icon"><i class="mdi mdi-web"></i></span>
        <span class="menu-title">Siteye Git</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Staff/Index/">
        <span class="menu-icon"><i class="mdi mdi-view-dashboard"></i></span>
        <span class="menu-title">Dashboard</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Staff/Index/">
        <span class="menu-icon"><i class="mdi mdi-account-multiple"></i></span>
        <span class="menu-title">Personeller</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Testimonial/Index/">
        <span class="menu-icon"><i class="mdi mdi-comment-multiple-outline"></i></span>
        <span class="menu-title">Referanslar</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Service/Index/">
        <span class="menu-icon"><i class="mdi mdi-briefcase-check"></i></span>
        <span class="menu-title">Hizmetler</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminAbout/Index/">
        <span class="menu-icon"><i class="mdi mdi-information-outline"></i></span>
        <span class="menu-title">Hakkımızda</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminRoom/Index/">
        <span class="menu-icon"><i class="mdi mdi-bed-empty"></i></span>
        <span class="menu-title">Odalar</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Guest/Index/">
        <span class="menu-icon"><i class="mdi mdi-account-outline"></i></span>
        <span class="menu-title">Müşteriler</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminContact/NewMessage/">
        <span class="menu-icon"><i class="mdi mdi-email-plus-outline"></i></span>
        <span class="menu-title">Yeni Mesaj Gönder</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminContact/Inbox/">
        <span class="menu-icon"><i class="mdi mdi-inbox-arrow-down"></i></span>
        <span class="menu-title">Gelen Mesajlar</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminContact/Outbox/">
        <span class="menu-icon"><i class="mdi mdi-send"></i></span>
        <span class="menu-title">Gönderilen Mesajlar</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminMail/Index/">
        <span class="menu-icon"><i class="mdi mdi-email-outline"></i></span>
        <span class="menu-title">Mail İşlemleri</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/AdminUser/Index/">
        <span class="menu-icon"><i class="mdi mdi-account-key"></i></span>
        <span class="menu-title">Kullanıcılar</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/WorkLocation/Index/">
        <span class="menu-icon"><i class="mdi mdi-map-marker-radius"></i></span>
        <span class="menu-title">Otel Lokasyonları</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Roles/Index/">
        <span class="menu-icon"><i class="mdi mdi-shield-account"></i></span>
        <span class="menu-title">Roller</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="/Settings/Index/">
        <span class="menu-icon">
            <i class="mdi mdi-settings"></i>
        </span>
        <span class="menu-title">Ayarlar</span>
    </a>
</li>



<li class="nav-item menu-items">
    <a class="nav-link" href="/Account/Logout/">
        <span class="menu-icon"><i class="mdi mdi-logout"></i></span>
        <span class="menu-title">Çıkış Yap</span>
    </a>
</li>
