@model UpdateRoleViewModel
@{
    ViewData["Title"] = "RoleUpdate";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Rol Güncelle</h4>

            @using (Html.BeginForm("RoleUpdate", "Role", FormMethod.Post))
            {


                @Html.HiddenFor(x => x.RoleId)
                <div class="form-group">
                    <label for="exampleInputName1">Rol Adı</label>
                    @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
                </div>
             


                <button type="submit" class="btn btn-outline-primary btn-lg btn-rounded btn-fw me-2">Rolü Güncelle</button>
                <a href="/Role/Index/" class="btn btn-outline-info btn-lg btn-rounded btn-fw">Geri Dön</a>
            }
        </div>
    </div>
</div>

