@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Referans Tablosu</h4>

            <div class="table-responsive">
                <table class="table text-center align-middle">
                    <thead>
                        <tr>
                            <th class="col-1">#</th>
                            <th class="col-3">Referans Adı</th>
                            <th class="col-3">Referans Açıklama</th>
                            <th class="col-2">Sil</th>
                            <th class="col-2">Güncelle</th>
                            <th class="col-2">Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++count)</td>
                                <td>@item.TestimonialName</td>
                                <td>@item.TestimonialDescription</td>
                                <td><a href="/Testimonial/TestimonialDelete/@item.TestimonialID" class="btn btn-outline-danger btn-lg btn-rounded btn-fw">Sil</a></td>
                                <td><a href="/Testimonial/TestimonialUpdate/@item.TestimonialID" class="btn btn-outline-warning btn-lg btn-rounded btn-fw">Güncelle</a></td>
                                <td><a href="/Testimonial/TestimonialDetails/@item.TestimonialID" class="btn btn-outline-primary btn-lg btn-rounded btn-fw">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <br />
                <a href="/Testimonial/TestimonialInsert/" class="btn btn-outline-primary  btn-lg btn-rounded btn-fw">Yeni Referans Ekle</a>
            </div>
        </div>
    </div>
</div>

