@model CreateBookingDto

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Rezervasyon Paneli</h6>
            <h1 class="mb-5">Hemen Odanızı <span class="text-primary text-uppercase">Rezerve Ediniz</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/hotel-html-template/img/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/hotel-html-template/img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/hotel-html-template/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/hotel-html-template/img/about-4.jpg">
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="post" asp-action="BookingAdd" asp-controller="Booking">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="CustomerName" placeholder="AdınıZ Soyadınız">
                                    <label for="name">Adınız Soyadınız</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" asp-for="CustomerMail" placeholder="Mailiniz">
                                    <label for="email">Mailiniz</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="Telephone" placeholder="Telefonunuz">
                                    <label for="Name">Telefonunuz</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" asp-for="CheckIn" placeholder="Giriş Tarihiniz" />
                                    <label for="checkin">Giriş Tarihiniz</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" asp-for="CheckOut" placeholder="Çıkış Tarihiniz" />
                                    <label for="checkout">Çıkış Tarihiniz</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select1" asp-for="AdultCount">
                                        <option value="Yetişkin 1">Yetişkin 1</option>
                                        <option value="Yetişkin 2">Yetişkin 2</option>
                                        <option value="Yetişkin 3">Yetişkin 3</option>
                                    </select>
                                    <label for="select1">Yetişkin Sayısı</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select2" asp-for="ChildCount">
                                        <option value="Çocuk 1">Çocuk 1</option>
                                        <option value="Çocuk 2">Çocuk 2</option>
                                        <option value="Çocuk 3">Çocuk 3</option>
                                    </select>
                                    <label for="select2">Çocuk Sayısı</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select2" asp-for="RoomCount">
                                        <option value="1 Adet Oda">1 Adet Oda</option>
                                        <option value="2 Adet Oda">2 Adet Oda</option>
                                        <option value="3 Adet Oda">3 Adet Oda</option>
                                    </select>
                                    <label for="select2">Oda Sayısı</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select class="form-select" id="select3" asp-for="ChooseRoom">
                                        <option value="Tek kişilik Oda">Tek kişilik Oda</option>
                                        <option value="Çift kişilik Oda">Çift kişilik Oda</option>
                                        <option value="Kral Dairesi">Kral Dairesi</option>
                                    </select>
                                    <label for="select3">Oda tipi</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Özel İstekler" asp-for="SpecialRequest" id="message" style="height: 100px"></textarea>
                                    <label for="message">Özel İstekler</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Rezarvasyon Yap</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>